# 容器名称
CONTAINER_NAME=rmqtt

# 节点ID
NODE_ID=1

# MQTT 端口
PANEL_APP_PORT_MQTT=1883

# MQTT TLS 端口
PANEL_APP_PORT_MQTTS=8883

# HTTP API 端口
PANEL_APP_PORT_HTTP=6060

# gRPC 端口
PANEL_APP_PORT_GRPC=5363

# Raft 端口
PANEL_APP_PORT_RAFT=6003

# 时区设置
TIMEZONE=Asia/Shanghai
